<h4>Working</h4>

    <div class="news">
        {% if site.working != blank -%}
        {%- assign news_size = site.working | size -%}
        <div class="table-responsive" {% if include.limit and site.working.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
        <table class="table table-sm table-borderless">
        {%- assign news = site.working | reverse | sort: "date" -%}
        {% if include.limit and site.working.limit %}
        {% assign news_limit = site.working.limit %}
        {% else %}
        {% assign news_limit = news_size %}
        {% endif %}
        {% for item in news limit: news_limit %}
            <tr>
            <th scope="row" style="width:160px">{{ item.start }}{% if item.end %} - {{ item.end }}{% endif %}</th>
                {{ item.year}}</th>
            <td>
                {% if item.inline -%}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                {%- else -%}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {%- endif %}
            </td>
            </tr>
        {%- endfor %}
        </table>
        </div>
    {%- else -%}
        <p>No news so far...</p>
    {%- endif %}
    </div>

    
    <!-- <h4>Talks</h4> -->
<!-- 
    <div class="news">
        {% if site.talk != blank -%}
        {%- assign news_size = site.talk | size -%}
        <div class="table-responsive" {% if include.limit and site.talk.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
        <table class="table table-sm table-borderless">
        {%- assign news = site.talk | reverse | sort: "date" -%}
        {% if include.limit and site.talk.limit %}
        {% assign news_limit = site.talk.limit %}
        {% else %}
        {% assign news_limit = news_size %}
        {% endif %}
        {% for item in news limit: news_limit %}
            <tr>
              <th scope="row" style="width:160px">{{ item.start }}{% if item.end %} - {{ item.end }}{% endif %}</th>
              {{ item.year}}</th>
            <td>
                {% if item.inline -%}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                {%- else -%}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {%- endif %}
            </td>
            </tr>
        {%- endfor %}
        </table>
        </div>
    {%- else -%}
        <p>No news so far...</p>
    {%- endif %}
    </div> -->


<h4>Service</h4>

<div class="news">
        {% if site.service != blank -%}
        {%- assign news_size = site.service | size -%}
        <div class="table-responsive" {% if include.limit and site.service.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
          <table class="table table-sm table-borderless">
          {%- assign news = site.service | reverse | sort: "date" -%}
          {% if include.limit and site.service.limit %}
          {% assign news_limit = site.service.limit %}
          {% else %}
          {% assign news_limit = news_size %}
          {% endif %}
          {% for item in news limit: news_limit %}
            <tr>
              <th scope="row" style="width:160px">{{ item.start }}{% if item.end %} - {{ item.end }}{% endif %}</th>
                {{ item.year}}</th>
              <td>
                {% if item.inline -%}
                  {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                {%- else -%}
                  <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {%- endif %}
              </td>
            </tr>
          {%- endfor %}
          </table>
        </div>
      {%- else -%}
        <p>No news so far...</p>
      {%- endif %}
      </div>
<!-- 
<h4>Teaching</h4> -->
<!-- 
<div class="news">
  <h6 style="padding-top: 10px"><b>Teaching Assistant</b></h6>
  {% if site.teaching != blank -%}
  {%- assign news_size = site.teaching | size -%}
  <div class="table-responsive" {% if include.limit and site.teaching.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
    <table class="table table-sm table-borderless">
    {%- assign news = site.teaching | reverse | sort: "date" -%}
    {% if include.limit and site.teaching.limit %}
    {% assign news_limit = site.teaching.limit %}
    {% else %}
    {% assign news_limit = news_size %}
    {% endif %}
    {% for item in news limit: news_limit %}
      <tr>
        <th scope="row" style="width:160px">
          {% for semester in item.semesters %}
            {{ semester }}<br/> -->
            <!-- {% unless forloop.last %} / {% endunless %} -->
          <!-- {% endfor %}
        </th>
        <td>
          {% if item.inline -%}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%}
            <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif %}
        </td>
      </tr>
    {%- endfor %}
    </table>
  </div>
{%- else -%}
  <p>No news so far...</p>
{%- endif %}
</div> -->